<%- include("./layouts/header.ejs") %>

    <div class="container mt-5 mb-5 ">
        <h1>
            Forget Password
        </h1>
        <form action="" method="post" >
            <input type="email" required placeholder="Enter Your Email" name="email">
            <br>
            <input type="submit" value="forget password" class="btn btn-info mt-2" ><br>
        </form>
        <% if (typeof message!=='undefined' ) { %>
            <p>
                <%= message %>
            </p>
            <% } %>
    </div>

            <%- include("./layouts/footer.ejs") %>