<%- include("./layouts/header.ejs") %>

    <div class="container mt-5 mb-5">
        <% if (typeof message!=='undefined' ) { %>
            <p style="color: green;">
                <%= message %>
            </p>
            <% } %>

                <a href="/login">Login</a>
    </div>

    <%- include("./layouts/footer.ejs") %>