<%- include("./layouts/header.ejs") %>

    <div class="container mt-5 mb-5">
        <h1>Reset Your Password</h1>
        <form action="" method="post">
            <input type="password" name="password" required placeholder="Enter New Password">
            <br><br>
            <input type="hidden" name="user_id" value="<%= user_id  %>">
            <input type="submit" value="Reset Password" class="btn btn-info">

        </form>
    </div>

    <%- include("./layouts/footer.ejs") %>